<a href="https://colab.research.google.com/github/O-Sting/IP_projects/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2021_07_Oliver_Ngugi_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import the pandas library
# 
import pandas as pd

# # Import the NUMPY library 
import numpy as np

In [ ]:
df = pd.read_csv('cells_geo.csv', header=0, delimiter = ';', index_col= 0) 
df.head(5)

    VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0   ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 11 columns]

In [ ]:
df = pd.read_csv('cells_geo_description.csv', header=0) 
df.head(5)

    Column name        Description  Format
0        VILLES               City  String
1        STATUS  In Service or not  String
2  LOCALISATION  in ABIDJAN or not  String
3    DECOUPZONE  Geographical Zone  String
4      ZONENAME       Name of Zone  String